@model IEnumerable<api.Models.Department>

<!DOCTYPE html>
<html>
<head>
    <title>Department List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Department List</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var department in Model)
                {
                    <tr>
                        <td>@department.Id</td>
                        <td>@department.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
